@SHOW_USERCOM
#DIM LCOUNT

LOCAL = 0

VARSET LOCALS, 

FOR LCOUNT, 0, 500
;	TRYCCALLFORM USERCOM_ABLE_%TRAINNAME:LCOUNT%
		SIF TRAINNAME:LCOUNT == ""
			CONTINUE
		COMRESULT = 0
		CALLFORMF USERCOM_ABLE_%TRAINNAME:LCOUNT%()
		IF COMRESULT
			LOCALS:(LOCAL%4+1) = <font color='
			SKIPDISP 1
			TRYCCALLFORM 実行判定_%TRAINNAME:LCOUNT%
				IF RESULT == 0 && TFLAG:実行判定無視 == 0
					LOCALS:(LOCAL%4+1) += "gray"
				ELSE
					LOCALS:(LOCAL%4+1) += "#c0c0c0"
				ENDIF
			CATCH
				LOCALS:(LOCAL%4+1) += "#c0c0c0"
			ENDCATCH
			SKIPDISP 0

			LOCALS:(LOCAL%4+1) += @"'><button value='{LCOUNT}' title='"

			SELECTCASE TRAINNAME:LCOUNT
				CASE "愛撫"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の体を撫で回します"
				CASE "クンニ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の女性器を舐め解します"
				CASE "フェラする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の男性器に口で奉仕します"
				CASE "指挿入れ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の女性器に指を挿入します"
				CASE "アナル舐め"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の肛門を舐め解します"
				CASE "アナル愛撫"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の肛門を指で弄ります"
				CASE "胸揉み"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の乳房を揉みしだきます"
				CASE "乳首責め"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の乳首を重点的に愛撫します"
				CASE "胸愛撫"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の胸部を優しく撫で回します"
				CASE "秘貝開帳"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に、自分で女性器を拡げるように命じます"
				CASE "胸自慰"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に、胸を弄りながらの自慰を命じます"
				CASE "自慰"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に、好きなように自慰をするように命じます"
				CASE "足扱きする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の男性器を足で踏んだり扱いたりします"
				CASE "下着扱きする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:PLAYER%が穿いてい\@ TEQUIP:PLAYER:下半身下着 ? る # た \@%CSTR:PLAYER:下半身下着%で、%CALLNAME:TARGET%の男性器を扱きます"
				CASE "キスする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%とキスをします。場合によっては拒否される場合があります"
				CASE "何もしない"
					LOCALS:(LOCAL%4+1) += @"何もせずに%CALLNAME:TARGET%を放置します"
				CASE "会話"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と他愛もない会話をします"
				CASE "プレゼント"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に贈り物をします。物によってはお金が必要になります"
				CASE "スキンシップ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%とじゃれ合います"
				CASE "まったりする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%とまったりします"
				CASE "家事"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と家の雑事を片付けます"
				CASE "歌の練習"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の歌唱力を鍛えます"
				CASE "罵倒"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%にありとあらゆる罵詈雑言をぶつけます"
				CASE "ビデオ鑑賞"
					LOCALS:(LOCAL%4+1) += @"過去に撮影した%CALLNAME:TARGET%とのビデオを一緒に鑑賞します"
				CASE "吸血する"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%から血を吸います"
				CASE "吸血させる"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に血を吸わせます。%CALLNAME:TARGET%は回復しますが、その調教中に一度しか行なえません"
				CASE "お酒を飲ませる"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%にお酒を飲ませます"
				CASE "ローター"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の\@ PENIS(TARGET) ? 陰茎 # 陰核 \@を中心にローターで責め立てます"
				CASE "電気按摩"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の\@ PENIS(TARGET) ? 陰茎 # 陰核 \@を中心に電気按摩で責め立てます"
				CASE "クリキャップ"
					IF TEQUIP:クリキャップ
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の陰核から振動機能付きクリキャップを取り外します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の陰核に振動機能付きクリキャップを取り付けます"
					ENDIF
				CASE "オナホール"
					IF TEQUIP:オナホール
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の陰茎からオナホールを取り外します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の陰茎にオナホールを被せます"
					ENDIF
				CASE "バイブ"
					IF TEQUIP:バイブ
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の膣からバイブを引き抜きます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の膣にバイブを挿入します"
					ENDIF
				CASE "アナルバイブ"
					IF TEQUIP:アナルバイブ
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の肛門からバイブを引き抜きます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の肛門にバイブを挿入します"
					ENDIF
				CASE "アナルビーズ"
					IF TEQUIP:アナルビーズ
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の肛門からアナルビーズを引き抜きます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%肛門にアナルビーズを飲み込ませていきます"
					ENDIF
				CASE "ニプルキャップ"
					IF TEQUIP:ニプルキャップ
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の乳首からローターを取り外します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の乳首にローターを取り付けます"
					ENDIF
				CASE "乳首ローター"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の乳首をローターで責め立てます"
				CASE "搾乳器"
					IF TEQUIP:搾乳器
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の乳房から搾乳器を取り外します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"母乳を搾り取る器具を%CALLNAME:TARGET%の乳房に取り付けます"
					ENDIF
				CASE "搾精コンドーム"
					IF TEQUIP:搾精コンドーム
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のペニスから搾精用のコンドームを取り外します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のペニスに精液搾取用のコンドームを被せます"
					ENDIF
				CASE "コンドーム"
					LOCALS:(LOCAL%4+1) += @"避妊具を付けたり外したりします"
				CASE "正常位"
					LOCALS:(LOCAL%4+1) += @"正面から%CALLNAME:TARGET%の女性器に\@ PENIS(PLAYER) ? ペニス # ペニスバンド \@を挿入します"
				CASE "後背位"
					LOCALS:(LOCAL%4+1) += @"後ろから%CALLNAME:TARGET%の女性器に\@ PENIS(PLAYER) ? ペニス # ペニスバンド \@を挿入します"
				CASE "騎乗位"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に、%CALLNAME:PLAYER%のペニスを自分から女性器で咥え込むように命じます"
				CASE "対面座位"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と抱き合ったまま性交を行います"
				CASE "背面座位"
					LOCALS:(LOCAL%4+1) += @"後ろから%CALLNAME:TARGET%を抱き寄せて性交を行います"
				CASE "正常位アナル"
					LOCALS:(LOCAL%4+1) += @"正面から%CALLNAME:TARGET%の尻穴に\@ PENIS(PLAYER) ? ペニス # ペニスバンド \@を挿入します"
				CASE "後背位アナル"
					LOCALS:(LOCAL%4+1) += @"後ろから%CALLNAME:TARGET%の尻穴に\@ PENIS(PLAYER) ? ペニス # ペニスバンド \@を挿入します"
				CASE "騎乗位アナル"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に、%CALLNAME:PLAYER%のペニスを自分から尻穴で咥え込むように命じます"
				CASE "対面座位アナル"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と抱き合ったまま尻穴にペニスを挿入します"
				CASE "背面座位アナル"
					LOCALS:(LOCAL%4+1) += @"後ろから%CALLNAME:TARGET%を抱き寄せて尻穴にペニスを挿入します"
				CASE "下着ずらし挿入"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%が\@ TEQUIP:下半身下着 ? 穿いている%CSTR:下半身下着% # 着ている%CSTR:全身上着% \@をずらして女性器にペニスを挿入します"
				CASE "下着ずらし挿入アナル"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%が\@ TEQUIP:下半身下着 ? 穿いている%CSTR:下半身下着% # 着ている%CSTR:全身上着% \@をずらして尻穴にペニスを挿入します"
				CASE "正常位させる"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に\@ PLAYER == MASTER ? 自分 # %CALLNAME:ASSI% \@を抱くようにと命じます"
				CASE "後背位させる"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に\@ PLAYER == MASTER ? 自分 # %CALLNAME:ASSI% \@を後ろから犯すようにと命じます"
				CASE "正常位アナルさせる"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のペニスを\@ PLAYER == MASTER ? 自分 # %CALLNAME:ASSI% \@の尻穴に挿入するようにと命じます"
				CASE "後背位アナルさせる"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に\@ PLAYER == MASTER ? 自分 # %CALLNAME:ASSI% \@の尻穴を後ろから犯すようにと命じます"
				CASE "逆レイプ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のペニスを\@ VAGINA(PLAYER) ? 膣 # 尻穴 \@で強引に咥え込みます"
				CASE "手淫"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に手で%CALLNAME:PLAYER%のペニスを扱くように命じます"
				CASE "フェラチオ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に口で%CALLNAME:PLAYER%のペニスに奉仕するように命じます"
				CASE "パイズリ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の乳房にペニスを挟んで扱き上げます"
				CASE "素股"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の陰部に%CALLNAME:PLAYER%のペニスを擦りつけます"
				CASE "泡踊り"
					LOCALS:(LOCAL%4+1) += @"泡にまみれた%CALLNAME:TARGET%の全身で奉仕させます"
				CASE "足扱き"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の足で%CALLNAME:PLAYER%のペニスを扱くように命じます"
				CASE "足を舐めさせる"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に%CALLNAME:PLAYER%の足を舐めさせ権威を示します"
				CASE "縦パイズリ"
					LOCALS:(LOCAL%4+1) += @"正面から%CALLNAME:TARGET%の乳房の間にペニスを埋めます"
				CASE "パイズリフェラ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の乳房でペニスを挟みながら同時に口で奉仕するように命じます"
				CASE "母乳飲み"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の母乳を飲みます"
				CASE "兜合わせ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と%CALLNAME:PLAYER%のペニスを擦り合わせます"
				CASE "下着扱き"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%が穿いてい\@ TEQUIP:下半身下着 ? る # た \@%CSTR:下半身下着%で%CALLNAME:PLAYER%のペニスを扱かせます"
				CASE "オナホ扱き"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%にオナホで%CALLNAME:PLAYER%のペニスを扱かせます"
				CASE "スパンキング"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の尻を何度も叩きます"
				CASE "乳スパンキング"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の胸を軽く叩きます"
				CASE "鞭"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%を鞭で殴打します"
				CASE "蝋燭"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の体に熱した蝋を垂らします"
				CASE "針"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の陰部を針で責め立てます"
				CASE "アイマスク"
					IF TEQUIP:アイマスク
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%からアイマスクを外します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の視界をアイマスクで覆います"
					ENDIF
				CASE "縄"
					IF TEQUIP:縄
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の縄を解きます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%を縄で縛り付けます"
					ENDIF
				CASE "ボールギャグ"
					IF TEQUIP:ボールギャグ
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%から轡を外します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の口に轡を嵌めて喋られないようにします"
					ENDIF
				CASE "腹パン"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の腹部を思い切り殴ります"
				CASE "踏む"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のいろんな部位を踏みます"
				CASE "裸締め"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%を後ろから羽交い締めにします。体力次第で気絶する可能性があります"
				CASE "首を絞める"
					LOCALS:(LOCAL%4+1) += @"死なない程度に%CALLNAME:TARGET%の首を締めます"
				CASE "ビンタ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の頬を平手打ちします"
				CASE "異物挿入"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の\@ VAGINA(TARGET) ? 女性器、もしくは #  \@肛門に様々な異物を挿入します"
				CASE "異物挿入解除"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の\@ VAGINA(TARGET) ? 女性器、もしくは #  \@肛門に挿入した異物を引き抜きます"
				CASE "クンニさせる"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に、%CALLNAME:PLAYER%の女性器に口で奉仕するように命じます"
				CASE "貝あわせ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と互いの女性器を擦り付け合います"
				CASE "助手を犯させる"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に%CALLNAME:ASSI%を犯させます"
				CASE "顔面騎乗する"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の顔面に跨って無理やり口で奉仕させます"
				CASE "ダブルフェラ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と%CALLNAME:ASSI%の二人同時のフェラチオを楽しみます"
				CASE "ダブルパイズリ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と%CALLNAME:ASSI%の二人同時のパイズリを楽しみます"
				CASE "乳の揉み合い"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と互いの乳房を揉み合います"
				CASE "イラマチオ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の喉奥までペニスを突き入れます"
				CASE "フィストファック"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の女性器に拳を挿入します"
				CASE "アナルフィスト"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のアナルに拳を挿入します"
				CASE "両穴フィスト"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と女性器とアナルに拳を挿入します"
				CASE "放尿"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%にその場で放尿させます"
				CASE "アナルを舐めさせる"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に%CALLNAME:PLAYER%の肛門を舐めさせます"
				CASE "浣腸器"
					IF TEQUIP:浣腸器
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のアナルプラグを外して排便させます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の腸内に浣腸液を流し込んで栓をします"
					ENDIF
				CASE "空気浣腸"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の尻穴に空気を流し込みます"
				CASE "拡張バルーン"
					IF TEQUIP:拡張バルーン
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の尻穴を拡げるバルーンを萎めます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の尻穴をバルーンで拡張します"
					ENDIF
				CASE "アナル電極"
					IF TEQUIP:アナル電極
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のアナルから電極付きプラグを引き抜きます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"電気が流れるプラグを%CALLNAME:TARGET%のアナルに挿入します"
					ENDIF
				CASE "乳房電極"
					IF TEQUIP:乳房電極
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の乳首から電極付きニップレスを取り外します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"電気が流れるニップレスを%CALLNAME:TARGET%の乳首に取り付けます"
					ENDIF
				CASE "乳ファック"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の胸部で強引にペニスを扱き上げます"
				CASE "触手召喚"
					IF TEQUIP:触手
						LOCALS:(LOCAL%4+1) += @"触手を送り返します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"触手を召喚します"
					ENDIF
				CASE "触手挿入"
					IF TEQUIP:バイブ
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の膣内から触手を引き抜きます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の膣内を触手で蹂躙します"
					ENDIF
				CASE "アナル触手"
					IF TEQUIP:アナルバイブ
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の尻穴から触手を引き抜きます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の腸内を触手で蹂躙します"
					ENDIF
				CASE "触手クリ責め"
					IF TEQUIP:クリキャップ
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の陰核に吸い付く触手にやめるよう指示します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"触手に%CALLNAME:TARGET%の陰核を弄り倒すように指示します"
					ENDIF
				CASE "触手乳首責め"
					IF TEQUIP:ニプルキャップ
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の乳首に吸い付く触手にやめるよう指示します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"触手に%CALLNAME:TARGET%の乳首を弄り倒すように指示します"
					ENDIF
				CASE "触手搾乳"
					IF TEQUIP:搾乳器
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の乳搾りを終えます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"触手で%CALLNAME:TARGET%の母乳を搾ります"
					ENDIF
				CASE "触手緊縛"
					IF TEQUIP:縄
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%を縛る触手を解きます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"触手で%CALLNAME:TARGET%の体を拘束します"
					ENDIF
				CASE "触手浣腸"
					IF TEQUIP:浣腸器
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の尻穴から触手を引き抜いて排便させます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"触手から直に%CALLNAME:TARGET%の腸内へと浣腸液を流し込みます"
					ENDIF
				CASE "触手口辱"
					IF TEQUIP:触手口辱
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の口から触手を引き抜きます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の口を触手で塞ぎます"
					ENDIF
				CASE "触手ペニス責め"
					IF TEQUIP:オナホール
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のペニスに吸い付く触手にやめるよう指示します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"触手で%CALLNAME:TARGET%のペニスを咥え込みます"
					ENDIF
				CASE "触手搾精"
					IF TEQUIP:搾精コンドーム
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のペニスに吸い付く触手にやめるよう指示します"
					ELSE
						LOCALS:(LOCAL%4+1) += @"触手で%CALLNAME:TARGET%の精液を搾り取ります"
					ENDIF
				CASE "ローション"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の体にローションを塗りたくります"
				CASE "媚薬"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に媚薬を飲ませます"
				CASE "利尿剤"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に利尿剤を飲ませます"
				CASE "ビデオカメラ"
					IF TEQUIP:ビデオカメラ
						LOCALS:(LOCAL%4+1) += @"撮影を終えます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の痴態を撮影します"
					ENDIF
				CASE "野外プレイ"
					IF TEQUIP:野外プレイ
						LOCALS:(LOCAL%4+1) += @"家に帰ります"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に首輪を付けて外に連れ出します"
					ENDIF
				CASE "助手を犯す"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の目の前で%CALLNAME:ASSI%を犯します"
				CASE "羞恥プレイ"
					IF TEQUIP:羞恥プレイ
						LOCALS:(LOCAL%4+1) += @"普通の部屋に戻ります"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%を大きな鏡のある部屋へと連れて行きます"
					ENDIF
				CASE "お風呂場プレイ"
					IF TEQUIP:お風呂場
						LOCALS:(LOCAL%4+1) += @"お風呂を上がります"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%をお風呂場へと連れて行きます"
					ENDIF
				CASE "シャワー"
					IF TEQUIP:シャワー
						LOCALS:(LOCAL%4+1) += @"シャワーを止めます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%にシャワーを浴びせます"
					ENDIF
				CASE "新妻プレイ"
					IF TEQUIP:エプロン
						LOCALS:(LOCAL%4+1) += @"新婚ごっこを終えます"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%にエプロンを着せます"
					ENDIF
				CASE "写真撮影"
					LOCALS:(LOCAL%4+1) += @"直前の行為を撮影します"
				CASE "強精神薬"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に絶頂を止める薬を飲ませます"
				CASE "コンドーム精飲（奴隷）"
					LOCALS:(LOCAL%4+1) += @"避妊具に溜まった精液を%CALLNAME:TARGET%に飲ませます"
				CASE "コンドーム精飲（助手）"
					LOCALS:(LOCAL%4+1) += @"避妊具に溜まった精液を%CALLNAME:ASSI%に飲ませます"
				CASE "ローション注入"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のアナルに直接ローションを注入します"
				CASE "キス（ドラゴン）"
					LOCALS:(LOCAL%4+1) += @"%CSTR:PLAYER:ドラゴン%に%CALLNAME:TARGET%とキスをさせます"
				CASE "フェラさせる（ドラゴン）"
					LOCALS:(LOCAL%4+1) += @"%CSTR:PLAYER:ドラゴン%のペニスを%CALLNAME:TARGET%に舐めさせます"
				CASE "舐め回す（ドラゴン）"
					LOCALS:(LOCAL%4+1) += @"%CSTR:PLAYER:ドラゴン%の大きな舌で%CALLNAME:TARGET%を舐め回します"
				CASE "睨みつける（ドラゴン）"
					LOCALS:(LOCAL%4+1) += @"%CSTR:PLAYER:ドラゴン%の瞳で%CALLNAME:TARGET%を威嚇します"
				CASE "膣を犯す（ドラゴン）"
					LOCALS:(LOCAL%4+1) += @"%CSTR:PLAYER:ドラゴン%に%CALLNAME:TARGET%の女性器を犯させます"
				CASE "アナルを犯す（ドラゴン）"
					LOCALS:(LOCAL%4+1) += @"%CSTR:PLAYER:ドラゴン%に%CALLNAME:TARGET%のアナルを犯させます"
				CASE "手淫する"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のペニスを手で扱きます"
				CASE "自慰見せつけ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に自慰を見せつけます"
				CASE "秘貝開帳見せつけ"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に、自らの膣口を拡げて見せつけます"
				CASE "キスしてもらう"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%にキスをさせます"
				CASE "情欲を煽る"
					LOCALS:(LOCAL%4+1) += @"言葉や仕草で%CALLNAME:TARGET%の情欲を煽ります"
				CASE "バイブ被挿入"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に膣をバイブで責めてもらいます"
				CASE "アナルバイブ被挿入"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%にアナルをバイブで責めてもらいます"
				CASE "鞭打ちしてもらう"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に鞭で叩いてもらいます"
				CASE "踏んでもらう"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に踏んでもらいます"
				CASE "叩いてもらう"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%に叩いてもらいます"
				CASE "素股する"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のペニスを%CALLNAME:PLAYER%の股間で擦り上げます"
				CASE "パイズリする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のペニスを胸で包んで扱き上げます"
				CASE "パイズリフェラする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%のペニスを胸で包んで扱き上げ、同時に口も使って責め立てます"
				CASE "フィストファックさせる"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の腕で膣を犯してもらいます"
				CASE "アナルフィストさせる"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の腕でアナルを犯してもらいます"
				CASE "触手射精止め"
					LOCALS:(LOCAL%4+1) += @"細い触手で%CALLNAME:TARGET%のペニスを強く締め付け、射精できないようにします"
				CASE "触手強制搾精"
					LOCALS:(LOCAL%4+1) += @"細い触手で%CALLNAME:TARGET%の尿道から直接粘液を流し込み、擬似的な射精の快感を与えます"
				CASE "触手強制放尿"
					LOCALS:(LOCAL%4+1) += @"細い触手で%CALLNAME:TARGET%の尿道から直接液体を流し込み、擬似的に放尿させます"
				CASE "腸洗浄"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%の腸内をぬるま湯で洗って綺麗にします"
				CASE "ゲームセンター"
					IF TEQUIP:ゲームセンター
						LOCALS:(LOCAL%4+1) += @"%GC店名%を後にして自宅に帰ります"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と一緒に%GC店名%に行きます"
					ENDIF
				CASE "トイレに行く"
					IF TEQUIP:トイレ
						LOCALS:(LOCAL%4+1) += @"トイレを出てフロアに戻ります"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%をトイレに連れ込みます"
					ENDIF
				CASE "IIDXをプレイする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と一緒にbeatmaniaIIDXをプレイします"
				CASE "ポップンをプレイする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と一緒にポップンミュージックで遊びます"
				CASE "DDRをプレイする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と一緒にDance Dance Revolutionをプレイします"
				CASE "ギタドラをプレイする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%\@ ASSI > 0 ? 、%CALLNAME:ASSI% #  \@と一緒にギタドラでセッションします"
				CASE "jubeatをプレイする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と一緒にjubeatで遊びます"
				CASE "リフレクをプレイする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と一緒にリフレクビートで遊びます"
				CASE "ボルテをプレイする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と一緒にSOUND VOLTEXで遊びます"
				CASE "ダンエボをプレイする"
					LOCALS:(LOCAL%4+1) += @"%CALLNAME:TARGET%と一緒にDance Evolutionで踊ります"
				CASE "テンプレートとしてお使いください"
					LOCALS:(LOCAL%4+1) += @""
			ENDSELECT

			LOCALS:(LOCAL%4+1) += @"'>"

			SELECTCASE TRAINNAME:LCOUNT
				CASE "クリキャップ"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:クリキャップ ? (解除) # (装着) \@"
				CASE "触手クリ責め"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:クリキャップ ? (解除) # (実行) \@"
				CASE "オナホール"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:オナホール ? (解除) # (装着) \@"
				CASE "触手ペニス責め"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:オナホール ? (解除) # (実行) \@"
				CASE "バイブ"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:バイブ ? (解除) # (挿入) \@"
				CASE "触手挿入"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:バイブ ? (解除) # (実行) \@"
				CASE "アナルバイブ"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:アナルバイブ ? (解除) # (挿入) \@"
				CASE "アナル触手"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:アナルバイブ ? (解除) # (実行) \@"
				CASE "アナルビーズ"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:アナルビーズ ? (解除) # (挿入) \@"
				CASE "ニプルキャップ"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:ニプルキャップ ? (解除) # (装着) \@"
				CASE "触手乳首責め"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:ニプルキャップ ? (解除) # (実行) \@"
				CASE "搾乳器"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:搾乳器 ? (解除) # (装着) \@"
				CASE "搾精コンドーム"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:搾精コンドーム ? (解除) # (装着) \@"
				CASE "触手搾精"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:搾精コンドーム ? (解除) # (実行) \@"
				CASE "アイマスク"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:アイマスク ? (解除) # (装着) \@"
				CASE "縄", "触手緊縛"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:縄 ? (解除) # (実行) \@"
				CASE "ボールギャグ"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:ボールギャグ ? (解除) # (実行) \@"
				CASE "浣腸器"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:浣腸器 ? (解除) # (使用) \@"
				CASE "拡張バルーン"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:拡張バルーン ? (解除) # (使用) \@"
				CASE "アナル電極"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:アナル電極 ? (解除) # (装着) \@"
				CASE "乳房電極"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:乳房電極 ? (解除) # (装着) \@"
				CASE "触手召喚"
					LOCALS:(LOCAL%4+1) += @"%\@ TEQUIP:触手 ? 触手送還 # 触手召喚 \@, 23%"
				CASE "触手口辱"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:触手口辱 ? (解除) # (実行) \@"
				CASE "ビデオカメラ"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:ビデオカメラ ? (終了) # (開始) \@"
				CASE "野外プレイ"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:野外プレイ ? (終了) # (開始) \@"
				CASE "羞恥プレイ"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:羞恥プレイ ? (終了) # (開始) \@"
				CASE "お風呂場プレイ"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:お風呂場 ? (終了) # (開始) \@"
				CASE "シャワー"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:シャワー ? (停止) # (使用) \@"
				CASE "新妻プレイ"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:エプロン ? (終了) # (開始) \@"
				CASE "触手射精止め"
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17%\@ TEQUIP:射精止め ? (解放) # (実行) \@"
				CASE "ゲームセンター"
					IF TEQUIP:ゲームセンター
						LOCALS:(LOCAL%4+1) += @"%"ゲームセンターを後にする", 23%"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%"ゲームセンターに行く", 23%"
					ENDIF
				CASE "トイレに行く"
					IF TEQUIP:トイレ
						LOCALS:(LOCAL%4+1) += @"%"トイレを出る", 23%"
					ELSE
						LOCALS:(LOCAL%4+1) += @"%"トイレに行く", 23%"
					ENDIF
				CASE "料理を作る"
					IF FLAG:パセリ表示
						LOCAL:1 = 6
					ELSEIF 通貨単位 != ""
						LOCAL:1 = STRLENS(通貨単位)
					ELSE
						LOCAL:1 = 1
					ENDIF
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 17-LOCAL:1%(1000"
					IF FLAG:パセリ表示
						LOCALS:(LOCAL%4+1) += @"パセリ)"
					ELSEIF 通貨単位 != ""
						LOCALS:(LOCAL%4+1) += @"%通貨単位%)"
					ELSE
						LOCALS:(LOCAL%4+1) += @"$)"
					ENDIF
				CASE "お菓子を作る"
					IF FLAG:パセリ表示
						LOCAL:1 = 6
					ELSEIF 通貨単位 != ""
						LOCAL:1 = STRLENS(通貨単位)
					ELSE
						LOCAL:1 = 1
					ENDIF
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 18-LOCAL:1%(200"
					IF FLAG:パセリ表示
						LOCALS:(LOCAL%4+1) += @"パセリ)"
					ELSEIF 通貨単位 != ""
						LOCALS:(LOCAL%4+1) += @"%通貨単位%)"
					ELSE
						LOCALS:(LOCAL%4+1) += @"$)"
					ENDIF
;				CASE "IIDXをプレイする", "ポップンをプレイする", "DDRをプレイする", "ギタドラをプレイする", "jubeatをプレイする", "リフレクをプレイする", "ボルテをプレイする", "ダンエボをプレイする"
;					LOCAL:2 = 200
;					SIF ASSI > 0
;						LOCAL:2 += 100
;					LOCALS:(LOCAL%4+1) += @"%@"%TRAINNAME:LCOUNT%({LOCAL:2}$)", 23%"
				CASEELSE
					LOCALS:(LOCAL%4+1) += @"%TRAINNAME:LCOUNT, 23%"
			ENDSELECT

			LOCALS:(LOCAL%4+1) += @"[{LCOUNT, 3}]</button></font>"

;			LOCALS:(LOCAL%4+1) += @"'>%TRAINNAME:LCOUNT, 23%[{LCOUNT, 3}]</button></font>"
			LOCAL++
			IF LOCAL%4 == 0
				HTML_PRINT LOCALS:1+LOCALS:2+LOCALS:3+LOCALS:4
				VARSET LOCALS, 
				LOCAL = 0
			ENDIF
		ENDIF
;	CATCH
;		CONTINUE
;	ENDCATCH
NEXT

SIF LOCAL
	HTML_PRINT LOCALS:1+LOCALS:2+LOCALS:3+LOCALS:4

SIF !LINEISEMPTY()
	PRINTL 

DRAWLINE
PRINTC 履歴表示[800]
PRINTC 汚れ表示[801]
PRINTC 能力表示[802]

;新妻プレイ、お風呂場プレイ時、触手召喚時は除く
SIF !TEQUIP:エプロン && !TEQUIP:お風呂場 && !TEQUIP:触手
	PRINTC 着衣設定[803]
;お風呂場プレイ時は除く
IF !TEQUIP:お風呂場
	IF FLAG:ゲームモード == 7
		PRINTFORMC 着衣設定(%CALLNAME:MASTER%)[804]
	ELSE
		PRINTC 着衣設定(調教者)[804]
	ENDIF
ENDIF

IF PENIS(PLAYER) || PENIS(TARGET)
	SIF ITEM:コンドーム > 0 || (ITEM:搾精コンドーム && PENIS(TARGET))
		PRINTC コンドーム設定[805]
ENDIF
IF ASSIPLAY
	PRINTC 能力表示(助手)[806]
ELSE
	IF FLAG:ゲームモード == 7
		PRINTFORMC 能力表示(%CALLNAME:MASTER%)[806]
	ELSE
		PRINTC 能力表示(主人)[806]
	ENDIF
ENDIF
IF ASSI > 0 && !TEQUIP:触手
	IF ASSIPLAY
		PRINTC 主人と交代[900]
	ELSE
		PRINTC 助手と交代[900]
	ENDIF
ENDIF
PRINTC コマンドセット1の設定[901]
SIF SELECTCOM:1 >= 0
	PRINTC コマンドセット1の実行[902]
PRINTC コマンドセット2の設定[903]
SIF SELECTCOM:11 >= 0
	PRINTC コマンドセット2の実行[904]
IF 上級売春中
	PRINTC 売春終了[999]
ELSEIF FLAG:ゲームモード == 7
	PRINTC 情事終了[999]
ELSE
	PRINTC 調教終了[999]
ENDIF
IF PREVCOMS != ""
	PRINTL 
	PRINTFORM ＜前回調教コマンド:%PREVCOMS%
	SIF TFLAG:前コマンド実行者 == ASSI
		PRINT (助手)
	PRINTL ＞
ENDIF

;DOWNBASEの初期化はあくまでここ Emueraのフローに則って
VARSET DOWNBASE:MASTER:0, 0
SIF ASSI >= 0
	VARSET DOWNBASE:ASSI:0

@USERCOM
SELECTCASE RESULT
	CASE 0 TO 499
		LOCAL = RESULT
		VARSET NOWEX, 0
		VARSET NOWEX:MASTER:0, 0
		SIF ASSI >= 0
			VARSET NOWEX:ASSI:0, 0
		TRYCALL EVENTUSERCOM
		IF TRAINNAME:LOCAL == ""
			CLEARLINE 1
			REUSELASTLINE 存在しないコマンドです
			RETURN 1
		ENDIF
		COMRESULT = 0
		CALLFORMF USERCOM_ABLE_%TRAINNAME:LOCAL%
		SELECTCASE COMRESULT
			CASE 0
				CLEARLINE 1
				REUSELASTLINE 実行できないコマンドです
				RETURN 1
			CASE 1
				;天使の技巧ボーナス
				IF CSTR:種族 == "天使"
					REPEAT 10
						SIF PALAM:欲情 >= PALAMLV:COUNT
							LOCAL:10 = COUNT
						SIF PALAM:屈服 >= PALAMLV:COUNT
							LOCAL:11 = COUNT
					REND
					LOCAL:12 = ABL:技巧
					ABL:技巧 = LOCAL:10*LOCAL:11+LOCAL:12
				ENDIF
				SELECTCOM = LOCAL
				SELECTCOMS = %TRAINNAME:SELECTCOM%
				TRYCALLFORM COM_%SELECTCOMS%
				IF RESULT == 0
					SIF CSTR:種族 == "天使"
						ABL:技巧 = LOCAL:12
					RETURN 1
				ELSE
					CALL SOURCE_CHECK
					VARSET SOURCE, 0
					TRYCALL EVENTUSERCOMEND
					WAIT
					SIF CSTR:種族 == "天使"
						ABL:技巧 = LOCAL:12
				ENDIF
		ENDSELECT
	CASE 800
		CALL SHOW_LOG
		RETURN 1
	CASE 801
		CALL STAIN_INFO
		RETURN 1
	CASE 802
		CALL SHOW_INFO, TARGET
		WAIT
		RETURN 1
	CASE 803
		IF !TEQUIP:エプロン && !TEQUIP:お風呂場 && !(TEQUIP:ゲームセンター && !TEQUIP:トイレ)
			CALL CLOTHES_CHANGE
			RETURN 1
		ENDIF
	CASE 804
		IF !TEQUIP:お風呂場 && !(TEQUIP:ゲームセンター && !TEQUIP:トイレ)
			CALL CLOTHES_CHANGE_PLAYER
			RETURN 1
		ENDIF
	CASE 805
		IF PENIS(TARGET) || PENIS(PLAYER)
			CALL CONDOM_SETTING
			RETURN 1
		ENDIF
	CASE 806
		CALL SHOW_INFO, PLAYER
		WAIT
		RETURN 1
	CASE 900
		IF ASSI > 0 && !TEQUIP:触手
			IF ASSIPLAY
				ASSIPLAY = 0
				PLAYER = MASTER
			ELSE
				ASSIPLAY = 1
				PLAYER = ASSI
				;実績:淫乱な天土に緋浮美を襲わせる
				IF NO:TARGET != 0 && NO:PLAYER != 0
					SIF CHARANAMEF(TARGET) == "梅桐 緋浮美" && CHARANAMEF(PLAYER) == "梅桐 天土" && FALLTYPE(PLAYER) == 2
						CALL 実績解除, "「ヒーちゃん見っけ♥」"
				ENDIF
			ENDIF
			CALL KOJO_MESSAGE_USERCOM, 900
			RETURN 1
		ENDIF
	;コマンドセットは引数増やすだけで簡単に拡張可能
	CASE 901
		CALL COMMENU_SETTING, 0
		RETURN 1
	CASE 902
		IF SELECTCOM >= 0
			CALL COMMENU_START, 0
			RETURN 1
		ENDIF
	CASE 903
		CALL COMMENU_SETTING, 1
		RETURN 1
	CASE 904
		IF SELECTCOM >= 0
			CALL COMMENU_START, 1
			RETURN 1
		ENDIF
	CASE 999
		IF 上級売春中
			IF 上級売春中 == 2
				上級売春中 = 4
			ELSE
				上級売春中 = 3
			ENDIF
			RETURN 1
		ELSE
			BEGIN AFTERTRAIN
			RETURN 1
		ENDIF
ENDSELECT
RETURN 0

@SHOW_LOG
DRAWLINE
PRINTL □ 珠
CALL SHOW_INFO_JUEL, TARGET
PRINTL 

IF PREVCOM >= 0
	PRINTL □ 前回調教コマンド
	PRINTFORM 　%PREVCOMS%
	SIF TFLAG:前コマンド実行者 == ASSI
		PRINT (助手)
	PRINTL 
ENDIF
PRINTL □ 状態
CALL SHOW_STATE

PRINTL □ 調教道具
CALL SHOW_EQUIP
PRINTL 

PRINTL □ 服装
IF !TEQUIP:特殊 && !TEQUIP:上半身上着 && !TEQUIP:下半身上着 && TEQUIP:全身上着 && !TEQUIP:上半身下着 && !TEQUIP:下半身下着 && !TEQUIP:足元
	PRINTL 　全裸
ELSE
	IF CSTR:特殊 != "" && CFLAG:特殊 != 100
		PRINT 　特殊　　　:
		IF !TEQUIP:特殊
			PRINTFORML 脱
		ELSE
			PRINTFORML %CSTR:特殊%
		ENDIF
	ENDIF

	IF CSTR:上半身上着 != "" && CFLAG:上半身上着 != 100
		PRINT 　上半身上着:
		IF !TEQUIP:上半身上着
			PRINTL 脱
		ELSE
			PRINTFORML %CSTR:上半身上着%
		ENDIF
	ENDIF

	IF CSTR:下半身上着 != "" && CFLAG:下半身上着 != 100
		PRINT 　下半身上着:
		IF !TEQUIP:下半身上着
			PRINTL 脱
		ELSE
			PRINTFORML %CSTR:下半身上着%
		ENDIF
	ENDIF

	IF CSTR:全身上着 != "" && CFLAG:全身上着 != 100
		PRINT 　全身上着　:
		IF !TEQUIP:全身上着
			PRINTL 脱
		ELSE
			PRINTFORML %CSTR:全身上着%
		ENDIF
	ENDIF

	IF CSTR:上半身下着 != "" && CFLAG:上半身下着 != 100
		PRINT 　上半身下着:
		IF !TEQUIP:上半身下着
			PRINTL 脱
		ELSE
			PRINTFORML %CSTR:上半身下着%
		ENDIF
	ENDIF

	IF CSTR:下半身下着 != "" && CFLAG:下半身下着 != 100
		PRINT 　下半身下着:
		IF !TEQUIP:下半身下着
			PRINTL 脱
		ELSE
			PRINTFORML %CSTR:下半身下着%
		ENDIF
	ENDIF

	IF CSTR:足元 != "" && CFLAG:足元 != 100
		PRINT 　足元　　　:
		IF !TEQUIP:足元
			PRINTL 脱
		ELSE
			PRINTFORML %CSTR:足元%
		ENDIF
	ENDIF
ENDIF
PRINTL 

PRINTL □絶頂回数
IF PENIS(TARGET)
	PRINTFORML 　潮噴き:{EX:潮噴き}回
ELSE
	PRINTFORML 　Ｃ絶頂:{EX:Ｃ絶頂}回
ENDIF
SIF VAGINA(TARGET)
	PRINTFORML 　Ｖ絶頂:{EX:Ｖ絶頂}回
PRINTFORML 　Ａ絶頂:{EX:Ａ絶頂}回
PRINTFORML 　Ｂ絶頂:{EX:Ｂ絶頂}回
SIF TALENT:母乳体質
	PRINTFORML 　噴乳:{EX:噴乳}回
SIF PENIS(TARGET)
	PRINTFORML 　射精:{EX:射精}回
PRINTFORML 　放尿:{EX:放尿}回
PRINTL 
SIF PENIS(MASTER)
	PRINTFORML 　%CALLNAME:MASTER%の射精:{EX:MASTER:射精}回
SIF ASSI > 0 && PENIS(ASSI)
	PRINTFORML 　%CALLNAME:ASSI%の射精:{EX:ASSI:射精}回
SIF TALENT:MASTER:ドラゴン使い
	PRINTFORML 　%CSTR:MASTER:ドラゴン%の射精:{EX:MASTER:ドラゴン射精}回
SIF ASSI > 0 && TALENT:ASSI:ドラゴン使い
	PRINTFORML 　%CSTR:ASSI:ドラゴン%の射精:{EX:ASSI:ドラゴン射精}回

WAIT

;-------------------------------------------------
;調教中の着衣変更
;-------------------------------------------------
@CLOTHES_CHANGE
DRAWLINE
PRINTL 着衣について設定します

;現在来ている服を表示、PRINTLは改行用
PRINTFORML □%CALLNAME:TARGET%の着衣
REPEAT 7
	LOCAL = COUNT+100
	IF CSTR:LOCAL != ""
		PRINTFORM 　%CSTR:LOCAL%：
		IF TEQUIP:COUNT
			PRINTL 着
		ELSEIF !TEQUIP:COUNT
			PRINTL 脱
		ENDIF
	ENDIF
REND
DRAWLINE

;着脱メッセージ表示
REPEAT 7
	LOCAL = COUNT+100
	SIF CSTR:LOCAL == ""
		CONTINUE
	PRINTFORM [{COUNT, 2}] %CSTR:LOCAL%を
	IF TEQUIP:COUNT
		SELECTCASE COUNT
			CASE 0
				PRINTL 奪う
			CASEELSE
				PRINTL 脱がす
		ENDSELECT
	ELSEIF !TEQUIP:COUNT
		SELECTCASE COUNT
			CASE 0
				PRINTL 返す
			CASE 5, 6
				PRINTL 穿かせる
			CASEELSE
				PRINTL 着せる
		ENDSELECT
	ENDIF
REND

;何か着てたらすべて脱がすコマンド表示
REPEAT 7
	IF TEQUIP:COUNT
		PRINTL [10] すべて脱がす
		BREAK
	ENDIF
REND

;何か着てないものがあったらすべて着せるコマンド表示
REPEAT 7
	IF !TEQUIP:COUNT && CSTR:(COUNT+100) != ""
		PRINTL [11] すべて着せる
		BREAK
	ENDIF
REND
DRAWLINE
PRINTPLAIN 　COORDINATE　
PRINTL [100] 戻る

DO
	INPUT
	SELECTCASE RESULT
		CASE 0 TO 6
			LOCAL = RESULT
			IF CSTR:(LOCAL+100) != ""
				IF TEQUIP:LOCAL
					;脱がせるテキストを呼ぶ
					CALL CLOTHES_MESSAGE_TAKE, RESULT
					TEQUIP:LOCAL = 0
				ELSEIF !TEQUIP:LOCAL
					;着せるテキストを呼ぶ
					CALL CLOTHES_MESSAGE_PUT, RESULT
					TEQUIP:LOCAL = 1
				ENDIF
				BREAK
			ENDIF
		;服を脱がせる場合
		CASE 10
			REPEAT 7
				TEQUIP:COUNT = 0
			REND
		;服を着せる場合
		CASE 11
			REPEAT 7
				SIF CSTR:(COUNT+100) != ""
					TEQUIP:COUNT = 1
			REND
		CASE 100
			RETURN 0
	ENDSELECT
LOOP LOOPRES(10, 11, 100)

TFLAG:服着脱 = RESULT
CALL KOJO_MESSAGE_USERCOM, 803

RESTART

;-------------------------------------------------
;きせかえ時のメッセージ処理
;-------------------------------------------------
@CLOTHES_MESSAGE_TAKE, ARG
PRINTFORM %CSTR:(ARG+100)%を
SELECTCASE ARG
	CASE 0
		PRINTW 奪った
	CASEELSE
		PRINTW 脱がした
ENDSELECT

@CLOTHES_MESSAGE_PUT, ARG
PRINTFORM %CSTR:(ARG+100)%を
SELECTCASE ARG
	CASE 0
		PRINTW 返した
	CASE 5, 6
		PRINTW 穿かせた
	CASEELSE
		PRINTW 着せた
ENDSELECT

;-------------------------------------------------
;調教中の着衣変更
;-------------------------------------------------
@CLOTHES_CHANGE_PLAYER
#DIM LCOUNT
DRAWLINE
PRINTL 着衣について設定します

;現在来ている服を表示、PRINTLは改行用
PRINTFORML □%CALLNAME:PLAYER%の着衣
REPEAT 7
	LOCAL = COUNT+100
	IF CSTR:PLAYER:LOCAL != ""
		PRINTFORM 　%CSTR:PLAYER:LOCAL%：
		IF TEQUIP:PLAYER:COUNT
			PRINTL 着
		ELSEIF !TEQUIP:PLAYER:COUNT
			PRINTL 脱
		ENDIF
	ENDIF
REND
DRAWLINE

;着脱メッセージ表示
REPEAT 7
	LOCAL = COUNT+100
	SIF CSTR:PLAYER:LOCAL == ""
		CONTINUE
	PRINTFORM [{COUNT, 2}] %CSTR:PLAYER:LOCAL%を
	IF TEQUIP:PLAYER:COUNT
		SELECTCASE COUNT
			CASE 0
				PRINTL 置く
			CASEELSE
				PRINTL 脱ぐ
		ENDSELECT
	ELSEIF !TEQUIP:PLAYER:COUNT
		SELECTCASE COUNT
			CASE 0
				PRINTL 使う
			CASE 5, 6
				PRINTL 穿く
			CASEELSE
				PRINTL 着る
		ENDSELECT
	ENDIF
REND

;何か着てたらすべて脱がすコマンド表示
REPEAT 7
	IF TEQUIP:PLAYER:COUNT
		PRINTL [10] すべて脱ぐ
		BREAK
	ENDIF
REND

;何か着てないものがあったらすべて着せるコマンド表示
REPEAT 7
	IF !TEQUIP:PLAYER:COUNT && CSTR:PLAYER:(COUNT+100) != ""
		PRINTL [11] すべて着る
		BREAK
	ENDIF
REND
DRAWLINE
PRINTPLAIN 　COORDINATE　
PRINTL [100] 戻る

DO
	INPUT
	SELECTCASE RESULT
		CASE 0 TO 6
			LOCAL = RESULT
			IF CSTR:PLAYER:(LOCAL+100) != ""
				INVERTBIT TEQUIP:PLAYER:LOCAL, 0
				BREAK
			ENDIF
		;服を脱がせる場合
		CASE 10
			REPEAT 7
				TEQUIP:PLAYER:COUNT = 0
			REND
		;服を着せる場合
		CASE 11
			REPEAT 7
				SIF CSTR:PLAYER:(100+COUNT) != ""
					TEQUIP:PLAYER:COUNT = 1
			REND
		CASE 100
			RETURN 0
	ENDSELECT
LOOP LOOPRES(10, 11, 100)

TFLAG:服着脱 = RESULT
CALL KOJO_MESSAGE_USERCOM, 804

RESTART

;-------------------------------------------------
;着衣の状態によって、調教中のソースが若干変動する
;-------------------------------------------------
@EQUIP_CLOTHES
;着衣状態によるソースを付加（１箇所ごとに露出+10、未陥落時反感+10）
REPEAT 7
	;特殊部位と足は計算しない
	SIF COUNT == 0 || COUNT == 6
		CONTINUE
	;上着・下半身上着は全身上着をつけているとき計算しない
	SIF (COUNT == 1 || COUNT == 2) && TEQUIP:全身上着
		CONTINUE
	;全身上着は上着・下半身上着をつけているとき計算しない
	SIF COUNT == 3 && (TEQUIP:上半身上着 || TEQUIP:下半身上着)
		CONTINUE
	;男は上半身下着に関する計算はしない
	SIF COUNT == 4 && SEX(TARGET) == 1
		CONTINUE
	IF !TEQUIP:COUNT
		SOURCE:露出 += 10
		;陥落時は反感を加算しない
		SIF CFLAG:陥落
			CONTINUE
		SOURCE:反感 += 10
	ENDIF
REND

RETURN 1

@CONDOM_SETTING
PRINTL コンドームの設定を行う対象を選択してください
PRINTL  
IF PENIS(MASTER)
	PRINTFORM [0] - %CALLNAME:MASTER%
	IF TEQUIP:MASTER:コンドーム && GETBIT(FLAG:避妊具設定, 0)
		PRINTL (装着済み、常備)
	ELSEIF TEQUIP:MASTER:コンドーム
		PRINTL (装着済み)
	ELSE
		PRINTL (未装着)
	ENDIF
ENDIF

IF ASSI >= 0
	IF PENIS(ASSI)
		PRINTFORM [1] - %CALLNAME:ASSI%
		IF TEQUIP:ASSI:コンドーム && GETBIT(FLAG:避妊具設定, 1)
			PRINTL (装着済み、常備)
		ELSEIF TEQUIP:ASSI:コンドーム
			PRINTL (装着済み)
		ELSE
			PRINTL (未装着)
		ENDIF
	ENDIF
ENDIF

IF PENIS(TARGET)
	PRINTFORM [2] - %CALLNAME:TARGET%
	IF TEQUIP:コンドーム && GETBIT(FLAG:避妊具設定, 2)
		PRINTL (装着済み、常備)
	ELSEIF TEQUIP:コンドーム
		PRINTL (装着済み)
	ELSEIF TEQUIP:搾精コンドーム && GETBIT(FLAG:避妊具設定, 3)
		PRINTL (搾精コンドーム装着済み、常備)
	ELSEIF TEQUIP:搾精コンドーム
		PRINTL (搾精コンドーム装着済み)
	ELSE
		PRINTL (未装着)
	ENDIF
ENDIF

PRINTL [3] - 戻る
DO
	INPUT
	SELECTCASE RESULT
		CASE 0
			PRINTL 避妊具の設定をしてください
			PRINTL  
			IF GETBIT(FLAG:避妊具設定, 0)
				PRINTL [0] 常に避妊しない
			ELSE
				PRINTL [0] 常に避妊する
			ENDIF
			PRINTL [1] 戻る
			DO
				INPUT
				SIF RESULT == 0
					INVERTBIT FLAG:避妊具設定, 0
			LOOP LOOPRES(0, 1)
			RESTART
		CASE 1
			PRINTL 避妊具の設定をしてください
			PRINTL  
			IF GETBIT(FLAG:避妊具設定, 1)
				PRINTL [0] 常に避妊しない
			ELSE
				PRINTL [0] 常に避妊する
			ENDIF
			PRINTL [1] 戻る
			DO
				INPUT
				SIF RESULT == 0
					INVERTBIT FLAG:避妊具設定, 1
			LOOP LOOPRES(0, 1)
			RESTART
		CASE 2
			PRINTL 避妊具の設定をしてください
			PRINTL  
			IF GETBIT(FLAG:避妊具設定, 2) || GETBIT(FLAG:避妊具設定, 3)
				PRINTL [0] 常に何も付けない
			ELSE 
				PRINTL [0] 常に避妊する
				PRINTL [1] 常に搾精コンドーム付ける
			ENDIF
			PRINTL [2] 戻る
			DO
				INPUT
				SELECTCASE RESULT
					CASE 0
						IF GETBIT(FLAG:避妊具設定, 2) || GETBIT(FLAG:避妊具設定, 3)
							CLEARBIT FLAG:避妊具設定, 2, 3
						ELSE
							SETBIT FLAG:避妊具設定, 2
						ENDIF
					CASE 1
						SIF !GETBIT(FLAG:避妊具設定, 2) && !GETBIT(FLAG:避妊具設定, 3)
							SETBIT FLAG:避妊具設定, 3
				ENDSELECT
			LOOP LOOPRES(0, 1, 2)
			RESTART
		CASE 3
			RETURN 0
	ENDSELECT
LOOP 1

RETURN 0

@COMMENU_SETTING, ARG
#DIM LCOUNT
DRAWLINE
LOCAL = 0
FOR COUNT, ARG*10+1, ARG*10+11
	SIF SELECTCOM:COUNT >= 0
		LOCAL++
NEXT

IF LOCAL < 10
	FOR LCOUNT, 0, 500
		COMRESULT = 0
		SIF TRAINNAME:LCOUNT == ""
			CONTINUE
		CALLFORMF USERCOM_ABLE_%TRAINNAME:LCOUNT%
		SIF COMRESULT == 1
			PRINTFORMC %TRAINNAME:(LCOUNT)%[{LCOUNT, 3, RIGHT}]
	NEXT
ELSE
	PRINTL これ以上追加できません
ENDIF

SIF !LINEISEMPTY()
	PRINTL 

IF SELECTCOM:(ARG*10+1) >= 0
	DRAWLINE
	PRINTL 設定されている連続実行は以下の通りです
	FOR COUNT, ARG*10+1, ARG*10+11
		IF SELECTCOM:COUNT >= 0
			SIF COUNT%10 != 1
				PRINTL ↓
			PRINTFORM 　{COUNT-ARG*10}.%TRAINNAME:(SELECTCOM:COUNT)%
		ELSE
			BREAK
		ENDIF
	NEXT
	PRINTL 
ENDIF
DRAWLINE
PRINTPLAIN 　COM MENU　
PRINT [998] 繰り返し 
PRINT [999] 初期化 
PRINTL [1000] 戻る

INPUT

SELECTCASE RESULT
	CASE 0 TO 997
		SIF LOCAL >= 10
			RESTART
		SIF TRAINNAME:RESULT == ""
			RESTART
		COMRESULT = 0
		LOCAL:1 = RESULT
		CALLFORMF USERCOM_ABLE_%TRAINNAME:RESULT%
		SIF COMRESULT == 0
			RESTART
		SELECTCOM:(LOCAL+(ARG*10+1)) = LOCAL:1
		RESTART
	CASE 998
		SIF !LOCAL
			RETURN 0
		FOR COUNT, ARG*10+1, ARG*10+11
			IF COUNT > LOCAL+ARG*10
				IF (COUNT-ARG*10)%LOCAL == 0
					SELECTCOM:COUNT = SELECTCOM:(LOCAL+ARG*10)
				ELSE
					SELECTCOM:COUNT = SELECTCOM:((COUNT-ARG*10)%LOCAL+ARG*10)
				ENDIF
			ENDIF
		NEXT
	CASE 999
		FOR COUNT, ARG*10+1, ARG*10+11
			SELECTCOM:COUNT = -1
		NEXT
	CASE 1000
		RETURN 0
ENDSELECT

RESTART

@COMMENU_START, ARG
#DIM DYNAMIC COM_GO
#DIM LCOUNT
LOCAL = 0
FOR COUNT, ARG*10+1, ARG*10+11
	SIF SELECTCOM:COUNT >= 0
		LOCAL++
NEXT

FOR LCOUNT, ARG*10+1, (LOCAL+ARG*10+1)
	COMRESULT = 0
	CALLFORMF USERCOM_ABLE_%TRAINNAME:(SELECTCOM:LCOUNT)%
	IF COMRESULT == 0
		PRINTFORMW {LCOUNT}.%TRAINNAME:(SELECTCOM:LCOUNT)%が実行できないため、連続実行を開始できません
		BREAK
	ELSEIF COMRESULT == 1
		SIF LCOUNT == LOCAL+ARG*10
			COM_GO = 1
	ENDIF
NEXT


IF COM_GO == 1
	FOR LCOUNT, ARG*10+1, (LOCAL+ARG*10+1)
		DRAWLINE
		PRINTFORML コマンド連続実行({LCOUNT-ARG*10}/{LOCAL})
		PRINTFORML □%CALLNAME:TARGET%のステータス
		CALL SHOW_INFO_HEALTH
		CALL SHOW_INFO_PALAM
		IF PENIS(TARGET)
			PRINT 　射精　　　
			SIF CFLAG:残数 == 0
				PRINT ※打ち止め※
			BAR BASE:射精, MAXBASE:射精, 32
			PRINTFORML ({BASE:射精}/{MAXBASE:射精})
		ENDIF
		SIF PENIS(MASTER) || PENIS(ASSI) || TEQUIP:触手
			PRINTL □主人と助手のステータス
		IF PENIS(MASTER)
			PRINT 　射精(主人)
			SIF CFLAG:MASTER:残数 == 0
				PRINT ※打ち止め※
			BAR BASE:MASTER:射精, MAXBASE:MASTER:射精, 32
			PRINTFORML ({BASE:MASTER:射精}/{MAXBASE:MASTER:射精})
		ENDIF
		IF ASSI >= 0 && PENIS(ASSI)
			PRINT 　射精(助手)
			SIF CFLAG:ASSI:残数 == 0
				PRINT ※打ち止め※
			BAR BASE:ASSI:射精, MAXBASE:ASSI:射精, 32
			PRINTFORML ({BASE:ASSI:射精}/{MAXBASE:ASSI:射精})
		ENDIF
		IF TEQUIP:触手
			PRINT 　射精(触手)
			BAR BASE:MASTER:触手射精, MAXBASE:MASTER:触手射精, 32
			PRINTFORML ({BASE:MASTER:触手射精}/{MAXBASE:MASTER:触手射精})
		ENDIF
		IF TALENT:MASTER:ドラゴン使い
			PRINTFORML □%CSTR:MASTER:ドラゴン%のステータス
			PRINT 　射精　　　
			BAR BASE:MASTER:ドラゴン射精, MAXBASE:MASTER:ドラゴン射精, 32
			PRINTFORML ({BASE:MASTER:ドラゴン射精}/{MAXBASE:MASTER:ドラゴン射精})
		ENDIF
		IF ASSI > 0 && TALENT:ASSI:ドラゴン使い
			PRINTFORML □%CSTR:ASSI:ドラゴン%のステータス
			PRINT 　射精　　　
			BAR BASE:ASSI:ドラゴン射精, MAXBASE:ASSI:ドラゴン射精, 32
			PRINTFORML ({BASE:ASSI:ドラゴン射精}/{MAXBASE:ASSI:ドラゴン射精})
		ENDIF
		DRAWLINE
		VARSET NOWEX, 0
		VARSET NOWEX:MASTER:0, 0
		SIF ASSI >= 0
			VARSET NOWEX:ASSI:0, 0
		CALL EVENTUSERCOM
		SELECTCOM = SELECTCOM:LCOUNT
		SELECTCOMS = %TRAINNAME:SELECTCOM%
		TRYCALLFORM COM_%TRAINNAME:(SELECTCOM:LCOUNT)%
		IF RESULT == 0
			CONTINUE
		ELSE
			CALL SOURCE_CHECK
			VARSET SOURCE, 0
			TRYCALL EVENTUSERCOMEND
			VARSET LOSEBASE, 0
			VARSET DOWNBASE:MASTER:0, 0
			SIF BASE:体力 < 500 || TFLAG:流産
				RETURN 0
			WAIT
			;RESULT = 0
			;PRINTL [9] - 連続実行を終了する
			;WAITANYKEY
			;SIF RESULT == 9
			;	BREAK
		ENDIF
	NEXT
ELSE
	RETURN 0
ENDIF

