@SYSTEM_TITLE
#DIM LMONTH
#DIM LDAYS
LOADGLOBAL

;10秒
TOOLTIP_SETDURATION 10000

ENDING = 11
CSVCOUNT = 0
REPEAT 10000
	SIF EXISTCSV(COUNT)
		CSVCOUNT++
REND
SAVEGLOBAL

IF LICENSE == 0
	LOCALS = <shape type='rect' param='1000,75,4500,575' color='white'>
	LOCALS:1 = <font color='black' bcolor='red'><button value='1'>　　　　　　　　　　[1] - 次へ</button></font>
	LOCALS:2 = <font color='black' bcolor='red'><button value='8'>　　　　　　　　　　[8] - ライセンスに同意する</button></font>　<font color='black' bcolor='red'><button value='9'>[9] - ライセンスに同意しない</button></font>
	DRAWLINE
	HTML_PRINT LOCALS
	SETCOLOR 0, 0, 0
	PRINTL 　　　　　　　　　　【LICENSE】
	PRINTL 　　　　　　　　　　eraBEMANIをDLしていただき、誠にありがとうございます
	PRINTL 　　　　　　　　　　プレイの前に、改造や再配布のライセンスについて簡単に説明させていただきます
	PRINTL 
	HTML_PRINT LOCALS:1
	PRINTL 
	DO
		INPUT
	LOOP LOOPRES(1)
	CLEARLINE 1

	LOCALS = <shape type='rect' param='1000,75,4500,1475' color='white'>
	HTML_PRINT LOCALS
	PRINTL 　　　　　　　　　　【eraBEMANIの一部、もしくは全部を商用利用→不許可】
	PRINTL 　　　　　　　　　　当バリアントの文章の一部や本体全部を、営利目的の作品に組み込むことを禁じます。
	PRINTL 
	PRINTL 　　　　　　　　　　【eraBEMANIを改変して再配布→許可】
	PRINTL 　　　　　　　　　　eraBEMANIをベースにして新規バリアントを作った場合等に、再配布する行為を許可します。
	PRINTL 
	PRINTL 　　　　　　　　　　【ERBの一部を他バリアントに引用→許可】
	PRINTL 　　　　　　　　　　eraBEMANIの処理や地の文等を、他バリアントに引用する行為を許可します。
	PRINTL 
	PRINTL 　　　　　　　　　　【CSVの一部を他バリアントに引用→要相談】
	PRINTL 　　　　　　　　　　eraBEMANIのキャラクターCSVを他バリアントに使用する場合、
	PRINTL 　　　　　　　　　　後述の連絡先にてご確認ください。
	PRINTL 
	HTML_PRINT LOCALS:1
	PRINTL 
	DO
		INPUT
	LOOP LOOPRES(1)
	CLEARLINE 1

	LOCALS = <shape type='rect' param='1000,75,4500,1475' color='white'>
	HTML_PRINT LOCALS
	PRINTL 　　　　　　　　　　【eraBEMANIを他のアップローダーで配布→不許可】
	PRINTL 　　　　　　　　　　本来、eraBEMANIはDropboxの「eraBEMANI_USERFOLDER」にて配布されています。
	PRINTL 　　　　　　　　　　「eraBEMANI_USERFOLDER」は作者:Enterが管理しているので、
	PRINTL 　　　　　　　　　　管理の行き届かない他の場所で当バリアントを扱うことを禁じます。
	PRINTL 
	PRINTL 　　　　　　　　　　例外として、何らかの理由により「eraBEMANI_USERFOLDER」へのアクセスが不可能になり、
	PRINTL 　　　　　　　　　　後述の連絡先にて作者:Enterとの連絡も取れなくなった場合には、
	PRINTL 　　　　　　　　　　その経緯と事情をテキストファイルにまとめて同梱してのアップロードを許可します。
	PRINTL 
	PRINTL 　　　　　　　　　　「eraBEMANI_USERFOLDER」以外で当バリアントをDLされた場合、
	PRINTL 　　　　　　　　　　該当の文書があることをご確認ください。
	PRINTL 　　　　　　　　　　それが無い当バリアントは不具合があっても対処出来ない場合があるのでご了承ください。
	PRINTL 
	HTML_PRINT LOCALS:1
	PRINTL 
	DO
		INPUT
	LOOP LOOPRES(1)
	CLEARLINE 1

	LOCALS = <shape type='rect' param='1000,75,4500,1975' color='white'>
	HTML_PRINT LOCALS
	PRINTL 　　　　　　　　　　【連絡先】
	PRINTL 　　　　　　　　　　eraBEMANI開発スレ(リンクが古い場合は次スレを追ってください)
	PRINTL 　　　　　　　　　　└http://jbbs.shitaraba.net/bbs/read.cgi/otaku/12839/1365919152/
	PRINTL 
	PRINTL 　　　　　　　　　　eraBEMANI_USERFOLDER
	PRINTL 　　　　　　　　　　└https://www.dropbox.com/sh/ps1a4o62hs25k4r/vG_tytAzqY
	PRINTL 
	PRINTL 　　　　　　　　　　eraBEMANI専用ページ(seesaawiki)
	PRINTL 　　　　　　　　　　└http://seesaawiki.jp/eraseries/d/eraBEMANI
	PRINTL 
	PRINTL 　　　　　　　　　　Twitter
	PRINTL 　　　　　　　　　　└@CatQOh
	PRINTL 
	PRINTL 　　　　　　　　　　Skype
	PRINTL 　　　　　　　　　　└you-remember
	PRINTL 
	PRINTL 　　　　　　　　　　当ライセンス・連絡先は同梱の「read me from Enter」でも確認できます。
	PRINTL 
	HTML_PRINT LOCALS:2
	PRINTL 
	RESETCOLOR
	DO
		INPUT
		SELECTCASE RESULT
			CASE 9
				CLEARLINE 1
				PRINTL 　　　　　　　　　　ライセンスに同意いただけないのであれば、当ゲームを終了します
				QUIT
		ENDSELECT
	LOOP LOOPRES(8)
	CLEARLINE 1
	PRINTW 　　　　　　　　　　それでは引き続きeraBEMANIお楽しみください
	CLEARLINE LINECOUNT-1
	LICENSE = 1
	SAVEGLOBAL
	ALIGNMENT LEFT
ENDIF


DO
	LMONTH = TOINT(SUBSTRING(GETTIMES(), 5, 2))
	LDAYS = TOINT(SUBSTRING(GETTIMES(), 8, 2))
	LOCAL = 0
	DRAWLINE
	REPEAT 10000
		SIF !EXISTCSV(COUNT)
			CONTINUE
		IF (CSVCFLAG(COUNT, 0)/100) == LMONTH && (CSVCFLAG(COUNT, 0)%100) == LDAYS
			PRINTFORML 今日は%CSVNAME(COUNT)%の誕生日です
			LOCAL++
		ENDIF
	REND
	IF LOCAL
		PRINTL ハッピーバースデー！
		DRAWLINE
	ENDIF
	LOCAL = 0
	ALIGNMENT CENTER
	PRINTFORML eraBEMANI+α
	PRINTFORML DJ Walt-heR vs DJ Enter
	PRINTFORML (2013-2017)
	PRINTFORML Ver.2017/02/19
	PRINTFORML TOTAL CHARA {CSVCOUNT}
	PRINT 現在の段位:
	CALL GRADE, 段位
	PRINTL 
	CALLFORM TITLECOMMENT
	DRAWLINE

	PRINTFORML [0] 最初からはじめる
	PRINTFORML [1] ロードしてはじめる
;	PRINTFORML [2] アチーブメントを確認する
	REPEAT ENDING+1
		SIF COUNT == 0
			CONTINUE
		IF ENDING:COUNT
			LOCAL = 1
			PRINTFORML [3] エンディングを見る
			BREAK
		ENDIF
	REND

	ALIGNMENT LEFT

	DO
		INPUT
		SELECTCASE RESULT
			CASE 0
				RESETDATA
				BEGIN FIRST
			CASE 1
				RESETDATA
				;LOADGAME
				CALL USERLOAD
				BREAK
;			CASE 2
;				CALL ACHIEVEMENT
			CASE 3
				SIF LOCAL
					CALL ENDING_LIST
				BREAK
		ENDSELECT
	LOOP 1
LOOP 1

@ENDING_LIST
ADDCHARA 0
ADDVOIDCHARA
MASTER = 0
TARGET = 1
CALLNAME:1 = 奴隷
DO
	DRAWLINE
	PRINTL 今まで見たエンディングを鑑賞します
	PRINTFORML 主人:%CALLNAME:MASTER% 奴隷:%CALLNAME:TARGET%
	PRINTL [ 0] 主人、奴隷を変更する
	REPEAT ENDING+1
		SIF COUNT == 0
			CONTINUE
		IF ENDING:COUNT
			IF COUNT < 10
				PRINTFORM [ {COUNT}] 
			ELSE
				PRINTFORM [{COUNT}] 
			ENDIF
			PRINTFORM Ending No.{COUNT} 
			SELECTCASE COUNT
				CASE 1
					PRINT ノーマルエンド
				CASE 2
					PRINT 親愛単体エンド
				CASE 3
					PRINT 娼婦単体エンド
				CASE 4
					PRINT 隷属単体エンド
				CASE 5
					PRINT ハーレムエンド
				CASE 6
					PRINT 菱宮家エンド
				CASE 7
					PRINT 菱宮姉妹エンド
				CASE 8
					PRINT 神崎家エンド
				CASE 9
					PRINT 神崎兄妹エンド
				CASE 10
					PRINT 梅桐家エンド
				CASE 11
					PRINT Lincle Kingdomエンド
			ENDSELECT
			SIF ENDING:COUNT == 1
				PRINT  New!
			PRINTL 
		ENDIF
	REND
	DRAWLINE
	PRINTPLAIN 　ENDING　
	PRINTL [100] タイトルに戻る
	DO
		INPUT
		SELECTCASE RESULT
			CASE 100
				SAVEGLOBAL
				DELALLCHARA
				RETURN 0
			CASE 0
				DO
					PRINTL [0] 主人の名前を変更する
					PRINTL [1] 奴隷の名前を変更する
					PRINTL [2] 変更しない
					INPUT
					SELECTCASE RESULT
						CASE 0
							PRINTL 名前を入力してください
							INPUTS
							CALLNAME:MASTER = %RESULTS%
							PRINTFORMW 主人の名前を「%CALLNAME:MASTER%」に変更しました
						CASE 1
							PRINTL 名前を入力してください
							INPUTS
							CALLNAME:TARGET = %RESULTS%
							PRINTFORMW 奴隷の名前を「%CALLNAME:TARGET%」に変更しました
					ENDSELECT
				LOOP LOOPRES(2)
				BREAK
			CASE 1 TO ENDING
				SIF ENDING:RESULT
					CALLFORM ENDING_{RESULT}, 1
				BREAK
		ENDSELECT
	LOOP 1
LOOP 1

@TITLECOMMENT
SELECTCASE RAND:5
	CASE 0
		LOCALS = 爆炎の
	CASE 1
		LOCALS = 氷点の
	CASE 2
		LOCALS = 混沌の
	CASE 3
		LOCALS = 激流の
	CASE 4
		LOCALS = 大空の
ENDSELECT
SELECTCASE RAND:4
	CASE 0
		LOCALS:1 = 姫はじめ
	CASE 1
		LOCALS:1 = 足扱き
	CASE 2
		LOCALS:1 = 足紳士
	CASE 3
		LOCALS:1 = 足淑女
ENDSELECT

PRINTDATAL 
	DATA 時代を震わす刻印を刻め!!
	DATA The next variant
	DATA 恋慕(ハート)の向こうへ駆け抜けろ。
	DATA WELCOME TO THE CYBER-era-BEMANI
	DATA TRIP THE DEEP KISS
	DATA eraBEMANI OF THE NEW CENTURY
	DATA 艶 ～ THE PRIMARY VIVID eraBEMANI
	DATA LOTION SHOWER
	DATA Break the Virgin!
	DATA 「十」代重ねる快楽の血脈。「重」く響き渡る痛み。「充」たされるLIBIDO。
	DATA 快楽に、染まりな。
	DATA Just Got Splash Milk!
	DATA 轟響
	DATA Are You Ready Come on! It's Party Time!
	DATA 「初手(トリガー)」は引かない。「焦燥」を打て。
	DATA 超、腸、潮、煌く―。
	DATA 嬌声の響、光悦の輝。
	DATA Blaze through the resort party!
	DATA 官能(ラブリー)×調教(ドライブ)=新境地(ニューリンクル)。
	DATA 輪音転想(Next Link Various Tunes Change The World [TRI] For The Future !!!)。
	DATA 紳士とは、孕ませることと　みつけたり。
	DATA 竿、挿れ交う。弐つの心音
	DATA 毎日が、喘ぐ自分への始発駅。
	DATA この夜這 君を偲BUZZ。
	DATA キミのハートにレインボー　カラフルハッピーエクスタシー！
	DATA パパパヤ～「発情ストリップ大作戦」　ビデオカメラはそのまま！！
	DATA 奴隷対抗イベント「傅け！ シャクハチZ」
	DATA 奴隷対抗イベント「ご主人様におねだり！」
	DATA 奴隷対抗イベント「ポップン秘伝房中術帖」
	DATA 奴隷対抗イベント「エクスタシー戦士 ポップン69」
	DATA 個人ヤりこみイベント「わくわくミミニャミ発情隊」
	DATA 個人ヤりこみイベント「あつまれ！セックスパーティー♪」
	DATA 個人ヤりこみイベント「第１回ポップン春画祭」
	DATA 個人ヤりこみイベント「めざせ天下統一！ポップン遊郭録」
	DATA 個人ヤりこみイベント「それイけ！セックスクエスト」
	DATA キミたちが作る究極の調教ゲーム
	DATA Z Eights Line Sin C ～絶倫紳士～
	DATA -infinite erection-
	DATA The Lovemaking Paradise
	DATA 性欲の塔
	DATA 天空の夜伽明け
	DATA ただいまダブルプレーの料金で3Pを遊ぶことができます
	DATA わ～いアナルビーズで調教らくち～ん
	DATA eraBEMANI赤色イベント「LEGEND ELOS」
	DATA 店舗対抗イベント「SEXの乱」
	DATA eraBEMANI青色イベント「Ω-ATTACK（クリトリス-アタック）」
	DATA eraBEMANI黄色イベント「ぼくらのご奉仕戦争」
	DATA 連動イベント「主人と奴隷のRUNRUNエキベン」
	DATA 調教するのが怖いって？ばっかお前……奴隷商人がついてるだろ
	DATA お風呂上りはeraBEMANI！
	DATA 喘ぐよタッチだ気持ちいい
	DATA このままじゃｳｨｻﾞｳﾁｭﾅｲ……
	DATA 主人は奴隷に精を放った――
	DATA era(ANOTHER)
	DATA ・∀・
	DATA おーっほっほっほ！わたしよ！わたしこそ、最強究極の公衆肉便器よ！
	DATA サキバシリ☆ザーメンビヤクオオメ
	DATA オレはアナルバイブかな 亀頭の部分アナルに当てたら前立腺ぶっ壊れそうｗ
	DATA 今何部？アナルバイ部
	DATA めうめうおむねぺったんたん！！
	DATA オトコルンバ♪
	DATA mura mura twins
	DATA 其の喘ぎこそ、我の糧也。
	DATA 子宮へと、帰れ。
	DATA じゃあ調教後は部屋に集合な まあ一人部屋だけど！
	DATA オ～イ、そこの新人奴隷！俺がてほどきするぜ！？
	DATA おはよう！君、新人？僕が助手やるで！
	DATA さぁ、「あなた」のチート性について、僕と語ろうか…
	DATA 調教後、能力上昇やるから観に来てもいいよ。
	DATA 君の心の「一線越えない」を、打ち消してごらん…？
	DATA 今夜もチョメチョメ、俺とメリーゴーランデヴーしようぜ！
	DATA コナミのみんなには内緒だよ！
	DATA はやくこいよ、ほら…ね
	DATA 我が名は「あなた」 背徳と絶望の最後の番人
	DATA 奴隷の買い手だよ(*'v'*) 犯しができたらおこしてね(*'i'*)
	DATA 今何度？アナルディル度
	DATA 絶頂感２００％！！　究極のセックスデバイスを体感せよ。
	DATA 弾く恥けるミュージック
	DATA セフレの君に挿れてもらいたいんだけど　さあ、僕と一緒に快楽を貪ろうか…。
	DATA さあ喘ぎたまえ…よがりたまえ…。
	DATA 性交の気持ち良いやり方、そして性交をすることによるその効果。
	DATA キミの膣口がひろがる
	DATA 君のチンポ、とっても強いんだね！負ける気がしないね！
	DATA 君の奴隷、とってもエロいんだね！イけない気がしないね！
	DATA いでよ～！俺の精子～！
	DATAFORM ハメられ%UNICODE(0x2764)%恋はモ～モク
	DATA aa'an
	DATA SPEED BLADE(早漏的な意味で)
	DATA 貞操ディストピア
	DATA セックスを知らなくてもヤれるよ！
	DATA 「自分が大腸の中に入っていくんだなあ、肛門を探訪してるんだなあ」と感じられ、性技を彩るeraにふさわしいバリアント
	DATA SOUND VOLSEX Ⅲ GLAMOROUS WOMANS
	DATA 快盗BisCoの風俗嬢！！
	DATA eraBEMANI SEXUAL DIARY 2015
	DATA Pants Pants Revolution単独イベント「デリバーヘルスproject」
	DATA 初めてのヒカイに、いれてみて。
	DATA PLEASURE WITH VAGINA!!
	DATA 作者が変態だってすぐわかったわ
	DATA ヤりきった時の気分はサイコー！さぁ、今からセックスを始めよう！
	DATA あの日から行為に堕ちた僕は……
	DATA Rape*it!! Rape*it!!
	DATA Vibration
	DATA AM-3P -"RANKO" Special-
	DATAFORM %LOCALS%%LOCALS:1%
	DATA 男子高生のメスイキ、再び！！
	DATA きっとシコれる！腰はモット動く！
	DATA タチとネコとカプ厨の夢
	DATA eraBEMANIは何故大おっぱいしたのか
	DATA The Rise of a New eraBEMANI
	DATA エクラルオーガズムフェスティバル
	DATA Emuera / P●N meets EDM!
	DATA あなたの好きな子、見つかります。
	DATA 人気クリエイターの新たな口上を体感せよ！
	DATA ひとつひとつのセーブデータに、物語がある。
	DATA ペニスバンド挿入シミュレーションの爽快感がパワーアップ！
	DATA 口上シノバズ伝
	DATA 犯っちゃうよぉ～☆
	DATA 今日こそ俺たちは童貞卒業します！！ウオオオオーーーーッッ！！
	DATA ジャガー人間の受精
ENDDATA

