emuera.config
*.sav
*.log
*.lnk
sav/
debug/
macro.txt
*.dat
*.skrold
*.zip
*_FACE.*
Emuera-Anchor.exe
CreatedCSV/*.csv
MyCSV/
CreatedDialogue/*.ERB
CreatedDialogue/backuptxt/*.txt
!CreatedDialogue/backuptxt/このフォルダについて.txt
gitignore/
*.json
profile
